{% extends 'blog.html.twig' %}
{% block h1 %}<h1>{{ "Ajout d'un article"|trans }}</h1>{% endblock %}
{% block content %}
    {% for messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% include 'form.html.twig' %}

{% endblock %}
