{% extends 'base.html.twig' %}
    {% block title %}
        le {{ parent() }}
    {% endblock %}

    {% block h1 %}
        <h1>{{ "Bienvenue sur le blog"|trans }}</h1>
    {% endblock %}
    {% block menu %}
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path("blog_add_article") }}">{{ 'Ajouter un article'|trans }}</a>
            </li>
        {% endif %}
    {% endblock %}
    {% block content %}
        {% block content_blog %}
        {% endblock %}
    {% endblock %}

    {% block h2 %}
        <h2>C'est le blog de l'année !</h2>
    {% endblock %}


