#sidebar{
    left: 0;
    top: 0;
    bottom: 0;
}

.btn{
    background-color: #721c24;
}

#navbarNav a{
    color: #c8cbcf;
}

.card ul a{
    color: #1d2124;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.card ul a:hover {
    color: #17a2b8;
}


